@tailwind base;

@layer base {
  html {
    @apply text-slate-900 font-inter;
  }

  .yellow_headline {
    @apply text-ap-yellow font-medium font-oswald tracking-[.2em] uppercase;
  }

  .white_headline {
    @apply text-white font-medium font-oswald tracking-[.2em] uppercase;
  }

  .blue_headline {
    @apply text-ap-darkblue font-medium font-oswald tracking-[.2em] uppercase;
  }

  .white_subheadline {
    @apply uppercase font-bold text-white tracking-[.2em];
  }

  .blue_subheadline {
    @apply uppercase font-bold text-ap-darkblue tracking-[.2em];
  }

  .yellow_subheadline {
    @apply uppercase font-bold text-ap-yellow tracking-[.2em];
  }
}

.default_wrapper {
  @apply mx-auto max-w-7xl py-16 md:py-20 lg:py-24 px-8 lg:px-16;
}

@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#scrollers::-webkit-scrollbar {
  display: none;
  width: 0;
}
